.button {
    border-radius:10px;
    font-size: 16px;
    padding: 4px 8px;
}
.buttonHome { 
    border-radius: 15px;
    font-size: 20px;
    padding: 8px 12px;
}
.buttonHeader { 
    border-radius: 15px;
    font-size: 32px;
    padding: 8px 12px;
}
.pageHead {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    margin: 20px;
}
.pageButton {
    margin: 10;
}
.pageTitle {
    font-size: 32px;
    font-weight: bold;
    /*background-color: DodgerBlue; /* For debugging */
    /*margin: 20px;*/
    width: 700px;
}
.pageEmpty {
    width: 64px;
    margin: 10;
}

